.main-nav li:nth-of-type(3) a {
    color: #FF5E33;
}
.content {
    background-color: #F9F9F9;
}
.content-item {
    padding: 74px 200px 32px 200px;
    background-color: #FFFFFF;
    margin-top: 6px;
}
.content-item>h3 {
    font-size:24px;
    font-family:PingFang-SC-Medium;
    color:rgba(64,140,255,1);
    line-height:0px;
    margin-bottom: 62px;
    margin-top: 0;
}

.content-item>h3>img:nth-of-type(1) {
    margin-right: 30px;
}
.content-item>h3>img:nth-of-type(2) {
    margin-left: 30px;
}
.content-item>.row:nth-of-type(2) {
    margin: 70px 0;
}
.col-lg-11>p:nth-of-type(1) {
    color: #408CFF;
    font-size: 16px;
}
.col-lg-11 p {
text-align: left;
}
.col-lg-11:nth-of-type(2n) {
    padding-left: 123px;
}
.content-item>.row>.col-lg-11>p {
    width: 600px;
}
.content-item:nth-of-type(3) p {
    color: #666666;
    font-size: 14px;
}
.col-lg-4>img {
    margin-bottom: 25px;
}
.col-lg-4>p {
    color: #666666;
}
.content-item:last-of-type {
    margin-bottom: 37px;
}
.content-item:first-of-type {
    padding-top: 535px;
}