a {
    text-decoration: none;
    out-line: none;
    color: #333333;
}
.subnav {
    background-color: #F9F9F9;
}

.subnav li {
    float: left;
    font-size: 16px;
    padding: 30px 100px 30px 0;
}

.subnav li:nth-of-type(1) {
    padding-left: 40px;
}
.subnav li:nth-of-type(2) a {
    color: #FF5E33;
}
.sssj {
    padding: 40px 0;
    border-radius: 6px;
    box-shadow:0px 0px 6px rgba(153,153,153,0.2);
    margin-top: 20px;
}
.sssj>h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 61px;
}
.sssj .col-lg-4 {
    padding:0 93px ;
}
.sssj .col-lg-4 p:nth-of-type(1) {
    font-size: 16px;
    color: #666666;
}
.sssj .col-lg-4 p:nth-of-type(2) {
    font-size: 30px;
    color: #FF5E33;
}

.sssj .col-lg-4:nth-of-type(1),.sssj .col-lg-4:nth-of-type(2) {
    border-right: 1px solid #999999;
}

.bfb {
    padding: 37px 0;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow:0px 0px 6px rgba(153,153,153,0.2);
}
#danhu {
    margin: 0 auto!important;
}
#shihu {
    margin: 0 auto!important;
}
#sex {
    margin: 0 auto!important;
}

.bfb-item-top p {
    text-align: center;
    width: 140px;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 75px;
}
.bfb-item span {
    display: inline-block;
    width:22px;
    height:7px;

}
.yellow {
    background:rgba(255,232,103,1);
}
.red {
    background:rgba(255,136,104,1);
}
.grey {
    background:rgba(173,144,255,1);
}
.blue {
    background:rgba(144,199,255,1);
}
.green {
    background:rgba(122,229,145,1);
}
.pink  {
    background:rgba(255,165,209,1);
}
.jktj>.row:nth-of-type(2) {
    margin: 78px 0;
}
.col-lg-4 {
    text-align: center;
}
.jktj {
    margin-bottom: 40px;
}

