.content {
    width: 1920px;
    height: 563px;
    background: url("../img/signUpAndSignIn/bgp.png") no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 41px;
}
.content>.container>img {
    margin-top: 100px;
}
.signin {
    margin-left: 350px;
    width: 400px;
    height: 353px;
    background-color: #fff;
    box-shadow:4px 0px 29px rgba(223,69,61,0.89);
    /*box-sizing: border-box;*/
    margin-top: 124px;
}
.signin h3 {
    padding-top: 39px;
    margin-top: 0;
    margin-bottom: 30px;
}
.signin input {
    width: 320px;
    height: 44px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    text-indent: 21px;
}
input::-webkit-input-placeholder {
    font-size: 14px;
}
.forget a {
    margin-right: 42px;
    font-size: 16px;
    color: #FF5E33;
    margin-top: 6px;
}
.signin>p:nth-of-type(1) {
    margin-bottom: 16px;
}
.btn {
    width:320px;
    height:44px;
    background:rgba(255,94,51,1);
    border-radius: 2px;
    margin: 6px 0 16px 0;
}
.signin>p:nth-of-type(4) {
    margin-right: 42px;
    font-size: 16px;
}
/*.signin>p:nth-of-type(3) {*/
    /*margin-right: 42px;*/
    /*font-size: 16px;*/
   /**/
/*}*/
.signin>p:nth-of-type(4) a {
    color: #FF5E33 ;
}

