
.content {
    padding: 0.34rem;
}

section {
    background-color: #EDEDED !important;
}

.title {
    overflow: auto;
    padding: 0.32rem;
    border-top: 0.03rem solid #D9D9D9;
}

.title > span:nth-of-type(1) {
    font-size: 0.48rem;
    color: #1A1A1A;
    float: left;
    vertical-align: middle;
    /*font-weight: 500;*/
}

.filter {
    font-size: 0.35rem;
    color: #019E9B;
    float: right;
    margin-top: 0.05rem;
    /*font-weight: 500;*/
}

.month {
    background-color: #fff;
    width: 2.35rem;
    height: 0.59rem;
    font-size: 0.34rem;
    border-radius: 0.29rem;
    color: #1A1A1A;
    margin-bottom: 0.48rem;
    text-align: center;
    line-height: 0.59rem;
    /*font-family: myFont, sans-serif;*/
    /*font-weight: 500;*/
}

.item {
    background-color: #fff;
    border-radius: 0.14rem;
    padding-bottom: 0.34rem;
    margin-bottom: 0.34rem;
    font-size: 0.37rem;
}

.item:last-of-type {
    margin-bottom: 0.5rem;
}

.item-top > span:nth-of-type(1) {
    float: left;
    margin-top: 0.1rem;
}

.item-top > span:nth-of-type(2) {
    float: right;
}

.item-bottom > ul {
    overflow: hidden;
}

.item-bottom li {
    margin-bottom: 0.08rem;
}

.item-bottom li > span:nth-of-type(2) {
    float: right;
    color: #1A1A1A;
}

.item-content > ul:nth-of-type(2) {
    padding-top: 0.12rem;
    border-bottom: 0.01rem solid #D9D9D9;
}

.item-content > ul:nth-of-type(3) {
    padding-top: 0.12rem;
}

.item-content li {
    overflow: auto;
}

.item-content li > span:nth-of-type(1) {
    float: left;
}

.item-content li > span:nth-of-type(2) {
    float: right;
    text-align: left;
}

.monthly {
    margin-bottom: 0.08rem;
}

/*筛选弹框样式*/
.filter-content {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 2.4rem;
    left: 0;
    width: 100%;
    z-index: 11;
    border-top: 0.03rem solid #D9D9D9;
}

.shadow {
    position: fixed;
    top: 3rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.3;
    display: none;
    z-index: 10;
}

.mode-select > p, .date-select > p {
    /*font-weight: 500;*/
    font-size: 0.4rem;
}

.filter-content > p {
    font-size: 0.15rem;
    color: #666666;
}

.filter-content li {
    height: 0.33rem;
    display: inline-block;
    font-size: 0.16rem;
    border-radius: 16px;
    margin-right: 0.22rem;
    text-align: center;
    line-height: 0.33rem;
    border: 1px solid #D9D9D9;
}

.filter-content li:nth-of-type(1), .filter-content li:nth-of-type(2) {
    width: 0.66rem;
}

.filter-content ul:nth-of-type(1) > li:nth-of-type(3) {
    width: 0.75rem;
}

.filter-content ul:nth-of-type(2) > li:nth-of-type(3) {
    width: 1.04rem;

}

.filter-content ul:nth-of-type(1) {
    margin: 0.24rem 0 0.18rem 0;
}

.btn-grounp {
    width: 100%;
    font-size: 0.4rem;
    /*font-weight: 500;*/
    overflow: auto;
}

.btn-grounp > div {
    float: left;
    width: 50% !important;
    height: 1.17rem;
    text-align: center;
    line-height: 1.17rem;
}

.btn-cancle {
    background-color: #D9D9D9;
}

.btn-confirm {
    background-color: #019E9B;
    color: white;
}

.date-select {
    padding: 0.32rem;
    overflow: auto;
    margin-bottom: 0.64rem;
}

.date-select > div {
    float: left;
}

.date-start, .date-end {
    width: 4.13rem;
    height: 0.96rem;
    line-height: 0.96rem;
    text-align: center;
    border-radius: 0.08rem;
}

.date-select input {
    border: none;
    background: url("../img/icon/dataSelect@2x.png") no-repeat 3.23rem center;
    background-size: 0.51rem 0.45rem;
    border: 0.03rem solid #D9D9D9;
    /*font-weight: 500;*/
    height: auto;
    font-size: 0.4rem;
    color: #666666;
    line-height: 0;
    font-family: myFont,sans-serif;
}

.hr {
    width: 0.48rem;
    height: 0.03rem;
    background-color: #D9D9D9;
    margin: 0.48rem 0.2rem 0.45rem 0.2rem;
}

.date-select > p {
    margin-bottom: 0.64rem;
}

.item p:nth-of-type(1) {
    padding: 0.32rem;
    border-bottom: 0.03rem solid #D9D9D9;
    font-size: 0.32rem;
}

.item p {
    overflow: auto;
}

.item p:nth-of-type(n+2) > span:nth-of-type(1) {
    float: left;
}

.item p:nth-of-type(n+2) > span:nth-of-type(2) {
    float: right;
}

.item > p:nth-of-type(n+2) {
    padding: 0rem 0.34rem 0.21rem 0.34rem;
}

.item > p:nth-of-type(n+4) {
    display: none;
}

.item > p:nth-of-type(2) {
    padding-top: 0.32rem;

}

.item > span {
    display: block;
    padding-left: 0.34rem;
    color: #019E9B;
    font-size: 0.34rem;
    padding-top: 0.11rem;
    font-size: 0.32rem;
}

.no-record {
    text-align: center;
    color: #999999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.no-record img {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0.83rem;
    margin-bottom: 0.24rem;
}
